#img-bg{
    /* background-image: url(../../assets/img/); */
    background-image: url(https://uauposters.com.br/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/2/0/201906131391-uau-posters-filmes-retro-vintage-psycho-psicose-hitchcock.jpg);

    
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

    /* min-height: 937px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */

}