/* #bgImg{
    background-image: url(../../assets/img/Astronaut\ suit-pana.png);

    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
} */

.fs-54{
    font-size: 54pt;
}

.fs-18{
    font-size: 18pt;
}